.navigation {
  z-index: 10;
  width: 100%;
  padding: 15px;
  position: relative;
  background: var(--color--music);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 2px var(--color-shadow),
    0 1px 1px var(--color-shadow-second);
  flex-direction: column;

  ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: inherit;
    li {
      background: inherit;
      a {
        background: inherit;
        font-size: 25px;
      }
    }
  }
}
.active {
  a {
    color: var(--color-button-primary-hover);
    font-weight: 600;
  }
}
