.statistic {
  background: var(--color-container-bg);
  width: 800px;
  border: 1px solid var(--color--music);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px var(--color-shadow),
    0 1px 1px var(--color-shadow-second);
  text-align: center;
  h1 {
    border-bottom: 1px solid var(--color--music);
  }
  &__data {
    padding: 10px;
    background: inherit;
    &__workers {
      background: inherit;
    }
    &__summa {
      background: inherit;
    }
    &__orders {
      background: inherit;
    }
  }
}
