[data-theme='ligth'] {
  --color-bg: hsla(0, 33%, 96%, 0.568);
  --color-none-opacity-bg: hsla(0, 0%, 100%, 0);
  --color-font: hsl(227, 57%, 14%);
  --color-font-buttons: hsl(0, 0%, 100%);
  --color-link: hsla(227, 58%, 14%, 0.7);
  --color-link-hover: hsl(227, 57%, 14%);
  --color-button-primary: hsl(0, 70%, 62%);
  --color-button-primary-hover: hsl(0, 89%, 59%);
  --color-shadow: hsla(0, 0%, 0%, 0.25);
  --color-shadow-second: hsla(0, 0%, 0%, 0.22);
  --color-modal-bg: hsla(0, 0%, 0%, 0.288);
  --color-modal-bg-fon: hsl(0, 33%, 96%);
  --color-border-field: hsl(227, 57%, 14%);
  --color-border-field-focus: hsl(214, 75%, 33%);
  --color-container-bg: hsl(0, 0%, 100%);
  --color--music: #f0f3f4;
  --color--music-hover: #cedbdf;
  --color-opacity: hsl(0, 0%, 79%);
}
